/* Estilos generales */
body {
    font-family: 'Lucida Bright', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #1b1a1ad3;
}

/* Navegación */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}

nav .logo h1 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Sección de encabezado */
header {
    background-color: #3e8ed3;
    color: white;
    padding: 100px 0;
    text-align: center;
}
.circulo{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(43, 51, 110);
}

header h1 {
    font-size: 3em;

}

header p {
    font-size: 1.5em;
}

header .btn {
    padding: 10px 20px;
    background-color: white;
    color: #333;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

/* Sección Sobre mí */
#about {
    padding: 50px;
    background-color: #62a5dc;
    text-align: justify;
}
.yo{
    text-align: center;
}

#about h2 {
    font-size: 2.5em;
}

/* Sección Proyectos */
#projects {
    padding: 50px;
    background-color: #b2d9e8d8;
    text-align: center;
}

.project-grid {
    display: flex;
    justify-content: space-around;
}

.project {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    width: 30%;
}

.project h3 {
    margin-top: 0;
}

.project p {
    font-size: 0.9em;
}

.project .btn {
    padding: 10px;
    background-color: #d1f0d2;
    color: rgb(51, 158, 76);
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* Sección Contacto */
.contacto{
    background-color: #1e2326;
    color: #9dafba;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
}
.contacto h2{
    font-size: 30px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 30px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 10px;
}

/* Pie de página */
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 30px 0 ;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}